version: "3.8"
name: sqrbb

services:
    jenkins:
        image: jenkins
        build: ./
        environment:
            - DOMAIN_NAME=${DOMAIN_NAME}
            - REPOSITORY_URL=${REPOSITORY_URL}
            - JENKINS_USER=${JENKINS_USER}
            - JENKINS_PASSWORD=${JENKINS_PASSWORD}
            - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
            - AWS_SECREY_KEY_ACCESS=${AWS_SECREY_KEY_ACCESS}
            - AWS_REGION=${AWS_REGION}
            - EC2_KEY=${EC2_KEY}
            - CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs/jenkins.yaml
            - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
        ports:
        - 8080:8080
        - 50000:50000
        networks:
        - jenkins_network
        volumes:
        - jenkins_home:/var/jenkins_home
        - /var/run/docker.sock:/var/run/docker.sock
        - ./jenkins/casc:/var/jenkins_home/casc_configs:ro

networks:
    jenkins_network: {}

volumes:
    jenkins_home: