version: "3.8"
name: sqrbb

services:
    jenkins:
        image: jenkins
        build: ./
        ports:
        - 8080:8080
        - 5000:5000
        networks:
        - jenkins_network
        volumes:
        - jenkins_home:/var/jenkins_home
        - /var/run/docker.sock:/var/run/docker.sock

networks:
    jenkins_network: {}

volumes:
    jenkins_home: