- name: Desplegar lambda fn "sigv4a"
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    project_root: "{{ playbook_dir }}/.."
    cloudfront_dist_id: "{{ (lookup('file', '../tf-outputs.json') | from_json).cloudfront_dist_id.value }}"
    lambda_function_name: "{{ (lookup('file', '../tf-outputs.json') | from_json).lmbd_fn_sigv4a_arn.value }}"
    lambda_signer_name: "{{ (lookup('file', '../tf-outputs.json') | from_json).sigv4a_signer_name.value }}"
    
    lambda_fn_root: "{{ project_root }}/lambdas/sigv4a"

  tasks:
    - name: descargar dependencias
      command: chdir={{ lambda_fn_root }} npm i
    
    - name: empaquetar
      command: >
        chdir={{ lambda_fn_root }} 
        zip -r function.zip 
        index.mjs sigv4a_sign.js node_modules
    
    - name: Subir archivo a un bucket
      ansible.builtin.command: >
        aws s3 cp
        {{ lambda_fn_root }}/function.zip
        s3://redsqx-us-east-1-lambda/sigv4a/func.zip
        --region us-east-1
    
    - name: Obtener última versión
      ansible.builtin.command: >
        aws s3api list-object-versions
        --bucket redsqx-us-east-1-lambda
        --prefix sigv4a/func.zip
        --region us-east-1
      register: bucket_versions

    - name: Firmar función
      ansible.builtin.command: >
        aws signer start-signing-job
        --source s3={bucketName=redsqx-us-east-1-lambda,key=sigv4a/func.zip,version={{ (bucket_versions.stdout | from_json).Versions[0].VersionId }}}
        --destination s3={bucketName=redsqx-us-east-1-lambda,prefix=sigv4a/signed-}
        --profile-name {{ lambda_signer_name }}
        --region us-east-1
      register: sign_result

    - name: actualizar función lambda
      command: > 
        aws lambda update-function-code 
        --function-name {{lambda_function_name}}
        --s3-bucket redsqx-us-east-1-lambda
        --s3-key sigv4a/signed-{{ (sign_result.stdout | from_json).jobId }}.zip
        --region us-east-1

    - name: publicar nueva versión lambda
      retries: 5
      delay: 5
      register: publish_version
      until: >
        (publish_version.stdout != "" and
        ("LastUpdateStatus" in (publish_version.stdout | from_json) and
        (publish_version.stdout | from_json).LastUpdateStatus == "Successful"))
      command: >
        aws lambda publish-version 
        --function-name {{lambda_function_name}} 
        --region us-east-1
    
    - name: obtener conf. de la dist. de cloudfront
      register: dist_config
      command: >
        aws cloudfront get-distribution-config
        --id {{ cloudfront_dist_id }}
    
    - name: extraer conf. de cloudfront y nuevo arn del lambda
      set_fact:
        config: "{{ (dist_config.stdout | from_json).DistributionConfig }}"
        etag: "{{ (dist_config.stdout | from_json).ETag }}"
        new_arn: "{{ (publish_version.stdout | from_json).FunctionArn }}"
    
    - name: actualizar arn del lambda
      set_fact:
        new_config: >-
          {{ config | combine({
                "DefaultCacheBehavior": {
                  "LambdaFunctionAssociations": {
                    "Quantity": 1,
                    "Items": [
                      {
                        "LambdaFunctionARN": new_arn,
                        "EventType": "origin-request",
                        "IncludeBody": False
                      }
                    ]
                  }
                }
            }, recursive=true) 
          }}
        new_config_dst: "new_dist_config.json"
    
    - name: guardar nueva conf.
      ansible.builtin.copy:
        dest: "{{ lambda_fn_root }}/{{ new_config_dst }}"
        content: "{{ new_config | to_nice_json }}"
    
    - name: actualizar conf. de la distribución cloudfront
      command: >
        aws cloudfront update-distribution
        --id {{ cloudfront_dist_id }}
        --if-match {{ etag }}
        --distribution-config file://{{ lambda_fn_root }}/{{ new_config_dst }}
    
    - name: limpiar conf. temporal
      ansible.builtin.file:
        path: "{{ lambda_fn_root }}/{{ new_config_dst }}"
        state: absent

    - name: mostrar nuevo arn
      ansible.builtin.debug:
        msg: "Nuevo FunctionArn: {{ new_arn }}"